#about-us {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .about-us__content {
        flex: 2;
        h3 {
            text-align: left;
            color: #795A69;
            margin-bottom: 16px;
        }

        p {
            line-height: 204.18%;
            color: #776E70;
            margin-bottom: 30px;
        }
    }

    .about-us__img-container {
        position: relative;
        flex: 1;

        .about-us__img {
            width: 100%;
        }

        .about-us__img-vector {
            position: absolute;
            left: -5px;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
    }

    @media screen and (max-width: 690px) {
        .container {
            text-align: center;
            flex-direction: column;
        }

        .about-us__img-container {
            order: 1;
            transform: scale(.8);
        }

        .about-us__content {
            order: 2;
            
            h3 {
                text-align: center;
            }

            p {
                font-size: 14px;
            }
        }
    }
}