#contact-us {
    background-color: white;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.03deg, rgba(255, 255, 255, 0.95) 47.28%, rgba(254, 150, 198, 0.95) 152.37%), url("../assets/img/BQ\ Safewash\ baby\ blurred\ out\ 2\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding-top: 260px;
        padding-bottom: 250px;
    }

    .contact-us__img-container {
        position: relative;
        // transform: scale(1);
        // flex: .5;

        .contact-us__img {
            max-width: 470px;
            // width: 100%;
            z-index: 3;
        }

        .contact-us__vector {
            position: absolute;
            // width: 100%;

            &.green {
                max-width: 470px;
                left: -31px;
                top: -13px;
            }

            &.pink {
                top: -10px;
                left: -35px;
                max-width: 500px;
            }
        }
    }

    .contact-us__content {
        flex: 1;

        h3 {
            text-align: left;
            color: #795A69;
            margin-bottom: 16px;
        }

        p {
            line-height: 204.18%;
            color: #776E70;
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 690px) {
        .container {
            text-align: center;
            flex-direction: column;
        }

        .contact-us__img-container {
            transform: scale(.8);
            // flex: .5;
        }

        .contact-us__content {
            h3 {
                text-align: center;
            }

            p {
                font-size: 14px;
            }
        }
    }
}