#contact-us {
    background-color: white;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.03deg, rgba(255, 255, 255, 0.95) 47.28%, rgba(254, 150, 198, 0.95) 152.37%), url("../assets/img/BQ\ Safewash\ baby\ blurred\ out\ 2\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    .container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 200px;
        padding-bottom: 120px;
    }

    .contact-us__img-container {
        position: relative;
        flex: 1;

        .contact-us__img {
            width: 100%;
        }

        .contact-us__vector {
            position: absolute;

            &.green {
                left: -31px;
                top: -13px;
                width: 102.09%;
            }
            
            &.pink {
                left: -35px;
                width: 105.69%;
            }
        }
    }

    .contact-us__content {
        flex: 2;

        h3 {
            text-align: left;
            color: #795A69;
            margin-bottom: 16px;
        }

        p {
            line-height: 204.18%;
            color: #776E70;
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 690px) {
        .container {
            text-align: center;
            flex-direction: column;
        }

        .contact-us__img-container {
            transform: scale(.8);
        }

        .contact-us__content {
            h3 {
                text-align: center;
            }

            p {
                font-size: 14px;
            }
        }
    }
}