@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/gilroy-extrabold.otf') format('otf'), 
    url('../assets/fonts/gilroy-extrabold.woff2') format('woff2'), 
    url('../assets/fonts/gilroy-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BR Firma';
    src: local('BR Firma Bold'), url('BR Firma Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    // font-size: 16px;
}

h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 204.18%;
    color: $blue;
    text-align: center;
    margin-bottom: 8px;
}

.middle-text {
    max-width: 816px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 161.68%;
    color: #776E70;
}

.wrapper {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px;
}

.btn {
    padding: 16px 21px;
    background-color: $green;
    border-radius: 13px 13px 13px 0px;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0px;
    display: inline-block;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 990px) {
    .container {
        width: 90%;
    }
}