$normalPink: #FE96C6;
$darkPink: #DB99CD;
$blue: #21A4C4;
$green: #6EB245;
$darkGray: #483D3F;


@import "global";
@import "header";
@import "hero";
@import "features";
@import "about-us";
@import "distributors";
@import "contact-us";
@import "testimonies";
@import "footer";
