@font-face {
  font-family: 'Gilroy';
  src: url("../assets/fonts/gilroy-extrabold.otf") format("otf"), url("../assets/fonts/gilroy-extrabold.woff2") format("woff2"), url("../assets/fonts/gilroy-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BR Firma';
  src: local("BR Firma Bold"), url("BR Firma Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 204.18%;
  color: #21A4C4;
  text-align: center;
  margin-bottom: 8px;
}

.middle-text {
  max-width: 816px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 161.68%;
  color: #776E70;
}

.wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px;
}

.btn {
  padding: 16px 21px;
  background-color: #6EB245;
  border-radius: 13px 13px 13px 0px;
  text-decoration: none;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0px;
  display: inline-block;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 990 px) {
  .container {
    width: 90%;
  }
}

header {
  height: 96px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

header .header__logo img {
  width: 66.64px;
  height: 67.56px;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 72px;
          column-gap: 72px;
}

header li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #483D3F;
}

header li a:hover {
  color: #FE96C6;
}

header li a.active {
  font-weight: 700;
}

@font-face {
  font-family: 'cocon';
  src: url("../assets/fonts/cocon-bold.otf") format("otf"), url("../assets/fonts/cocon-bold.woff2") format("woff2"), url("../assets/fonts/cocon-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#hero {
  height: 1123px;
  position: relative;
  padding-top: 96px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(213.01deg, #FFFFFF 4.13%, rgba(254, 150, 198, 0.5) 80.31%);
}

#hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 96px;
  padding-bottom: 100px;
}

#hero .hero__content h1 {
  font-family: 'cocon', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;
  color: #FE96C6;
  max-width: 701px;
  margin-bottom: 26px;
}

#hero .hero__content h2 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #FE96C6;
  max-width: 678px;
  margin-bottom: 23px;
}

#hero .hero__carousels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  margin-top: 34px;
}

#hero .hero__carousels .carousel {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #FE96C6;
  border-radius: 50%;
  cursor: pointer;
}

#hero .hero__carousels .carousel.active {
  background-color: #FE96C6;
}

#hero .hero__image-container img {
  position: absolute;
  bottom: 340px;
  right: 0;
  width: 50%;
}

#hero .hero__bg-design img {
  position: absolute;
  pointer-events: none;
}

#hero .hero__bg-design .ellipse-5 {
  left: -120px;
  top: -104px;
}

#hero .hero__bg-design .ellipse-43 {
  left: 59px;
  top: 100px;
}

#hero .hero__bg-design .ellipse-44 {
  left: 1288px;
  top: 687px;
}

#hero .hero__bg-design .rectangle-41 {
  left: 608.21px;
  top: 313px;
}

#hero .hero__bg-design .rectangle-42 {
  left: 679.21px;
  top: 599px;
}

#hero .hero__bg-design .rectangle-43 {
  left: 919.21px;
  top: 676px;
}

#hero .hero__bg-design .rectangle-44 {
  left: 43.87px;
  top: 359.51px;
}

#hero .hero__bg-design .rectangle-45 {
  left: 422.21px;
  top: 553px;
}

#hero .hero__bg-design .rectangle-46 {
  left: 849.76px;
  top: 19px;
}

#features {
  background-color: white;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(131.41deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 15.33%, rgba(255, 210, 231, 0.9) 35.21%, rgba(254, 168, 208, 0.9) 51.11%, rgba(254, 166, 207, 0.9) 69.85%, rgba(255, 255, 255, 0.9) 98.24%, rgba(255, 255, 255, 0.9) 109.03%), url("../assets/img/BQ Safewash baby blurred out 2 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-top: -340px;
}

#features .container {
  padding-top: 144px;
}

#features .features__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 56px;
  margin-top: 70px;
}

#features .features__body div:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#features .features__body div:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#features .features__item img {
  margin-bottom: 8px;
  width: 54px;
  height: 54px;
}

#features .features__item h4 {
  margin-bottom: 8px;
  font-weight: 700;
}

#features .features__item:nth-child(2) h4 {
  color: #21A4C4;
}

#features .features__item:nth-child(3) h4 {
  color: #6EB245;
}

#features .features__item:nth-child(4) h4 {
  color: #02998A;
}

#features .features__item:nth-child(5) h4 {
  color: #9D3E89;
}

#features .features__item p {
  color: #483D3F;
  max-width: 504px;
  line-height: 161.68%;
  font-weight: 600;
}

#about-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 200px;
  padding-bottom: 100px;
}

#about-us .about-us__content h3 {
  text-align: left;
  color: #795A69;
  margin-bottom: 16px;
}

#about-us .about-us__content p {
  line-height: 204.18%;
  color: #776E70;
  margin-bottom: 30px;
}

#about-us .about-us__img-container {
  position: relative;
}

#about-us .about-us__img-container .about-us__img {
  height: 650px;
}

#about-us .about-us__img-container .about-us__img-vector {
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 500px;
  z-index: -1;
}

#top-distributors {
  text-align: center;
}

#top-distributors .container {
  padding-top: 20px;
  padding-bottom: 70px;
}

#top-distributors .top-distributors__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  margin-top: 130px;
  margin-bottom: 75px;
  position: relative;
}

#top-distributors .top-distributors__cards .top-distributors__blur-bg {
  position: absolute;
  width: 288px;
  height: 287px;
  left: 186px;
  top: 18px;
  z-index: -1;
  background: #FE96C6;
  -webkit-filter: blur(451px);
          filter: blur(451px);
}

#top-distributors .top-distributors__cards .top-distributors__bubbles {
  position: absolute;
  left: 10px;
}

#top-distributors .top-distributors__cards .top-distributors__bubbles img {
  position: absolute;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  z-index: 1;
}

#top-distributors .top-distributors__cards .top-distributors__bubbles img:nth-child(1) {
  left: 217px;
}

#top-distributors .top-distributors__cards .top-distributors__bubbles img:nth-child(2) {
  left: 217px;
}

#top-distributors .top-distributors__cards .top-distributors__bubbles img:nth-child(3) {
  left: 217px;
}

#top-distributors .distributors-card__item {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 293px;
  width: 100%;
  height: 360px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 31px #F4F4F9;
          box-shadow: 0px 4px 31px #F4F4F9;
}

#top-distributors .distributors-card__item:nth-child(1) .distributor-img {
  border: 4px solid #6EB245;
}

#top-distributors .distributors-card__item:nth-child(2) .distributor-img {
  border: 4px solid #21A4C4;
}

#top-distributors .distributors-card__item:nth-child(3) .distributor-img {
  border: 4px solid #DB99CD;
}

#top-distributors .distributors-card__item .distributor-img {
  border-radius: 50%;
  width: 188px;
  height: 188px;
  position: absolute;
  top: -76px;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#top-distributors .distributors-card__item img {
  width: 102%;
  height: 102%;
  position: relative;
  left: 8px;
}

#top-distributors .distributors-card__item h4 {
  color: #6EB245;
  font-family: "BR Firma", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 204.18%;
  margin-bottom: 12px;
  margin-top: 100px;
}

#top-distributors .distributors-card__item p {
  font-weight: 600;
  font-size: 14px;
  color: #776E70;
  line-height: 161.68%;
  margin-bottom: 12px;
}

#top-distributors .distributors-card__item a {
  display: block;
  text-decoration: none;
  background: #21A4C4;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 8px 26px;
  margin: 0px 220px;
}

#top-distributors .btn {
  margin: 34px 0px;
}

#contact-us {
  background-color: white;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.03deg, rgba(255, 255, 255, 0.95) 47.28%, rgba(254, 150, 198, 0.95) 152.37%), url("../assets/img/BQ Safewash baby blurred out 2 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

#contact-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 260px;
  padding-bottom: 250px;
}

#contact-us .contact-us__img-container {
  position: relative;
}

#contact-us .contact-us__img-container .contact-us__img {
  width: 470px;
  z-index: 3;
}

#contact-us .contact-us__img-container .contact-us__vector {
  position: absolute;
}

#contact-us .contact-us__img-container .contact-us__vector.green {
  width: 470px;
  left: -31px;
  top: -13px;
  z-index: 2;
}

#contact-us .contact-us__img-container .contact-us__vector.pink {
  top: -10px;
  left: -35px;
  width: 500px;
  z-index: 1;
}

#contact-us .contact-us__content h3 {
  text-align: left;
  color: #795A69;
  margin-bottom: 16px;
}

#contact-us .contact-us__content p {
  line-height: 204.18%;
  color: #776E70;
  margin-bottom: 30px;
}

#testimonies {
  padding-top: 288px;
  padding-bottom: 224px;
}

#testimonies .testimonies__cards {
  margin-top: 38px;
  margin-bottom: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 25px;
}

#testimonies .testimony-item {
  background-color: white;
  color: #776E70;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 31px #F4F4F9;
          box-shadow: 0px 4px 31px #F4F4F9;
  max-width: 243px;
  padding: 34px 28px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#testimonies .testimony-item p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 161.68%;
}

#testimonies .testimony-item:nth-child(1) .profile-photo {
  border: 4px solid #DB99CD;
}

#testimonies .testimony-item:nth-child(2) .profile-photo {
  border: 4px solid #FE96C6;
}

#testimonies .testimony-item:nth-child(3) .profile-photo {
  border: 4px solid #21A4C4;
}

#testimonies .testimony-item__header {
  position: relative;
  margin-bottom: 34px;
}

#testimonies .profile-photo {
  border: 10px solid deeppink;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  position: absolute;
  top: -52px;
  left: -49px;
}

#testimonies .profile-photo img {
  width: 104%;
  height: 104%;
  position: relative;
  left: 2px;
  top: 2px;
}

#testimonies .profile-details {
  margin-left: 55px;
}

#testimonies .profile-details h4 {
  color: #21A4C4;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 161.68%;
  margin-bottom: 6px;
  word-wrap: unset;
  word-break: keep-all;
}

#testimonies .profile-details p {
  font-size: 12px;
}

#testimonies .testimony-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 161.68%;
}

#testimonies .testimony-item__content p {
  font-size: 14px;
}

#testimonies .testimonies__video {
  max-width: 100%;
  position: relative;
}

#testimonies .testimonies__video img {
  display: block;
  max-width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#testimonies .testimonies__video .absolute-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: initial;
}

#testimonies .testimonies__video .play-btn-container:hover {
  opacity: .95;
}

#testimonies .testimonies__video .play-btn-background, #testimonies .testimonies__video .play-btn {
  cursor: pointer;
}

#testimonies .testimonies__video .play-btn-background {
  width: 17.9%;
}

#testimonies .testimonies__video .play-btn {
  width: 4.09%;
}

footer {
  background-color: rgba(184, 219, 217, 0.2);
}

footer .footer__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 69px;
  padding-bottom: 69px;
}

footer .footer__top .container .footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

footer .footer__top .container .footer__item h5 {
  margin-bottom: 7px;
  font-size: 13px;
  font-family: "BR Firma", sans-serif;
  font-weight: bold;
  line-height: 204.18%;
}

footer .footer__top .container .footer__item ul {
  list-style: none;
}

footer .footer__top .container .footer__item li a {
  font-size: 13px;
  text-decoration: none;
  color: #483D3F;
  line-height: 204.18%;
}

footer .footer__top .container .footer__item li a:hover {
  color: #21A4C4;
}

footer .footer__top .container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  margin-top: 15px;
}

footer .footer__bottom {
  background-color: #21A4C4;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__bottom p {
  font-size: 16px;
  font-weight: 600;
  line-height: 204.18%;
  color: rgba(255, 255, 255, 0.98);
  font-family: 'Gilroy', sans-serif;
}

@media screen and (max-width: 768px) {
  footer .footer__top .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 50px;
    -webkit-box-pack: spce-between;
        -ms-flex-pack: spce-between;
            justify-content: spce-between;
  }
  footer .footer__top .container .footer__item:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 550px) {
  footer .footer__top .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  footer .footer__top .container .footer__item:first-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
/*# sourceMappingURL=styles.css.map */